<ion-header>
  <ion-toolbar>
    <ion-title>My Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="eventsList.length == 0; else eventsListBlock">
    No events on my list.
  </p>

  <ng-template #eventsListBlock>
    <ion-list lines="full">
      <ion-list>
        <ion-item-sliding *ngFor="let event of eventsList; index as i">
          <ion-item button detail>
            <ion-label>{{ event.title }}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeEvent(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddEventPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
